.button-primary {
  padding: 10px 20px;
  background-color: var(--blue-primary);
  color: var(--white);
  border-radius: 5px;
  border: none;
}

.button-primary:hover {
  color: var(--white);
  background-color: var(--blue-secondary);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header__title {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 10rem;
}

ul {
  width: 100%;
  padding: 2rem 5rem;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav__item {
}

.logo-icon,
.home-icon,
.basket-icon {
  width: 24px;
  height: 24px;
  filter: opacity(0.6) drop-shadow(0 0 0 var(--blue-primary));
}

.card-wrapper {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}

@media all and (min-width: 768px) {
  .card-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3rem;
  }
}
.card {
  padding: 0.5rem;
  width: 100%;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}

@media all and (min-width: 768px) {
  .card {
    width: 40%;
  }
}

@media all and (min-width: 1200px) {
  .card {
    width: 26%;
  }
}

.card .book-image {
  height: 300px;
  margin: 3rem 0;
}

.card h2,
.card h3 {
  margin: 0.5rem;
}

.card h3 {
  color: var(--font-color-lighter);
}

.buttons-action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}

.modal-overlay {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #f4f4f4;
  margin: 15% auto;
  width: 50%;
  min-height: 40%;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.modal-header h2 {
  color: var(--blue-primary);
  padding-top: 4rem;
  padding-bottom: 2rem;
}

.modal-header button {
  position: absolute;
  margin: 1rem;
  top: 0;
  right: 0;
}
